body {
    padding: 0;
    margin: 0;
    background-color: #E4F9F5;
    font-family: 'Merriweather', serif;
    text-align: center;
  }
  
  header {
    background-color: #C2FFD9;
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 0;
    text-align: left;
  }
  
  hr {
    border: dotted #11999E 6px;
    border-bottom: none;
    width: 6%;
    margin: 60px auto;
  }
  
  .img1{
    width: 100%;
    height: 100%;
  }
  
  .cw {
    background-color: #C2FFD9;
  }
  
  .ak {
    position: absolute;
    top:62px;
    left:23px;
    font-size: 13px;
    color: #40514E;
    background-color: #C2FFD9;
  }
  
  .trib {
    position: absolute;
    left: 80px;
    top: 20px;
    text-decoration: none;
    color: #40514E;
    font-size: 20px;
    background-color: #C2FFD9;
  }
  
  .trib:hover{
    color: #11999E;
  }
  .logo img{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: #C2FFD9;
  }
  
  .main ul {
    margin-top: 40px;
    float: right;
    margin-right: 20px;
    background-color: #C2FFD9;
  }
  
  .main ul li {
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
    font-family: sans-serif;
  }
  
  .main ul li a {
    text-decoration: none;
    color: #11999E;
    padding: 10px 30px;
    border: 0px solid #fff;
    transition: 0.1s ease;
    background-color: #C2FFD9;
  }
  
  .main ul li a:hover {
    background-color: #40514E;
    color: #E4F9F5;
  }
  
  .center-info {
    margin-top: 100px;
  }
  
  .paras {
    text-align: center;
    padding: 70px 20px;
    width: 50%;
    margin: auto;
    line-height: 2;
  }
  
  footer{
    background-color: #66BFBF;
    padding: 20px 0 10px;
    text-align: center;
  }
  
  .discord {
     position: relative;
     top:0px;
     left:-30px;
     text-decoration: none;
  }
  
  .discord figure:hover img {
    width: 350px;
  }
  .gmail {
    position: relative;
    top:0px;
    left:30px;
     text-decoration: none;
  }
  